@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chewy&family=Fredoka:wght@300..700&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Londrina+Shadow&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-roboto: "Roboto", sans-serif;
}
/*Nouvelle*/
.jeneveux{
position:relative;
margin-bottom: 0px;
font-family: "Alfa Slab One", serif;
font-weight: 400;
font-style: normal;
}
.jeneveux h1{
font-family: 'PoetsenOne';
font-weight: bold;
}                            

.legende{
position:relative;
margin-bottom: 20px;
font-family: "Alfa Slab One", serif;
font-weight: 400;
font-style: normal;
}
.legende h1{
font-family: 'PoetsenOne';
}

/* Masquer la scrollbar sur mobile */
@media (max-width: 768px) {
  .overflow-x-auto {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .overflow-x-auto::-webkit-scrollbar {
    display: none;
  }
}